<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="Settings.config" />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OrderServiceSoap" maxBufferPoolSize="2000000"
                    maxBufferSize="2000000" maxReceivedMessageSize="2000000">
                    <security mode="Transport" />
                </binding>
                <binding name="OrderServiceSoap1" />
                <binding name="InventoryServiceSoap" maxBufferPoolSize="2000000" maxBufferSize="2000000" maxReceivedMessageSize="2000000">
                    <security mode="Transport" />
                </binding>
                <binding name="InventoryServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.channeladvisor.com/ChannelAdvisorAPI/v7/OrderService.asmx"
                binding="basicHttpBinding" bindingConfiguration="OrderServiceSoap"
                contract="ChannelAdvisorOrderService.OrderServiceSoap" name="OrderServiceSoap" />
            <endpoint address="https://api.channeladvisor.com/ChannelAdvisorAPI/v7/InventoryService.asmx"
                binding="basicHttpBinding" bindingConfiguration="InventoryServiceSoap"
                contract="ChannelAdvisorInventoryService.InventoryServiceSoap"
                name="InventoryServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>