<?xml version="1.0" encoding="utf-8" ?>
<!-- Rename this file to Settings.config -->
<appSettings>
  <add key="FtpEsUn" value="example"/>
  <add key="FtpEsPw" value="example"/>
  <add key="FtpEsAddr" value="example"/>
  <add key="FtpLsUn" value="example"/>
  <add key="FtpLsPw" value="example"/>
  <add key="FtpLsAddr" value="example"/>

  <add key="CaDevK" value="example"/>
  <add key="CaDevPw" value="example"/>
  <add key="CaAcct" value="example"/>
</appSettings>